
# Dependency directories
node_modules/
jspm_packages/

# Cache and logs (Symfony2)
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
app/spool/*

# Cache, session files and logs (Symfony3)
api/varcache/*
api/varlogs/*
api/varsessions/*
!api/varcache/.gitkeep
!api/varlogs/.gitkeep
!api/varsessions/.gitkeep

# Logs (Symfony4)
api/varlog/*
!api/varlog/.gitkeep

# Parameters
app/config/parameters.yml
app/config/parameters.ini

# Managed by Composer
app/bootstrap.php.cache
api/varbootstrap.php.cache
api/bin/*
!api/bin/console
!api/bin/symfony_requirements
api/vendor/

# Assets and user uploads
web/bundles/
web/uploads/

# PHPUnit
app/phpunit.xml
phpunit.xml

# Build data
build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
.web-server-pid
api/vendor/composer/autoload_classmap.php
api/vendor/composer/autoload_psr4.php
api/vendor/composer/autoload_static.php
api/vendor/composer/installed.json
api/vendor/composer/installed.php
api/vendor/doctrine/dbal/README.md
api/vendor/doctrine/dbal/src/Driver/AbstractMySQLDriver.php
api/vendor/symfony/cache/Adapter/RedisTagAwareAdapter.php
api/vendor/symfony/cache/Adapter/TagAwareAdapter.php
api/vendor/symfony/cache/Marshaller/TagAwareMarshaller.php
api/vendor/symfony/cache/Traits/AbstractAdapterTrait.php
api/vendor/symfony/console/Application.php
api/vendor/symfony/doctrine-bridge/composer.json
api/vendor/symfony/doctrine-bridge/ContainerAwareEventManager.php
api/vendor/symfony/error-handler/Resources/views/traces.html.php
api/vendor/symfony/framework-bundle/KernelBrowser.php
api/vendor/symfony/http-kernel/HttpKernel.php
api/vendor/symfony/http-kernel/Kernel.php
api/vendor/symfony/http-kernel/Log/Logger.php
api/vendor/symfony/routing/Router.php
api/vendor/composer/autoload_classmap.php
api/vendor/composer/autoload_psr4.php
api/vendor/composer/autoload_static.php
api/vendor/composer/installed.json
api/vendor/composer/installed.php
api/vendor/doctrine/dbal/README.md
api/vendor/doctrine/dbal/src/Driver/AbstractMySQLDriver.php
api/vendor/symfony/cache/Adapter/RedisTagAwareAdapter.php
api/vendor/symfony/cache/Adapter/TagAwareAdapter.php
api/vendor/symfony/cache/Marshaller/TagAwareMarshaller.php
api/vendor/symfony/cache/Traits/AbstractAdapterTrait.php
api/vendor/symfony/console/Application.php
api/vendor/symfony/doctrine-bridge/composer.json
api/vendor/symfony/doctrine-bridge/ContainerAwareEventManager.php
api/vendor/symfony/error-handler/Resources/views/traces.html.php
api/vendor/symfony/framework-bundle/KernelBrowser.php
api/vendor/symfony/http-kernel/HttpKernel.php
api/vendor/symfony/http-kernel/Kernel.php
api/vendor/symfony/http-kernel/Log/Logger.php
api/vendor/symfony/routing/Router.php