.back-office {
    display: flex;

    .input {
        max-width: 550px;
    }
}

.back-office__title {
    max-width: 400px;

    margin-top: 1rem;
    margin-bottom: 4rem;

    padding-left: .7rem;
    
    font-size: 1.750rem;
    font-weight: 600;
    line-height: 1.4;

    border-left: $secondary-color-10 solid 5px;
}

.back-office__subtitle {
    margin: 2.5rem 0 1rem;

    display: block;

    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.back-office__page {
    padding: 25px;

    position: relative;

    background-color: $grey-1;
}

.back-office__page {
    padding: 25px;

    flex: 1;
}

.back-office__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.back-office__columns {
    display: flex;
    gap: 20px;
}

.back-office__column {
    flex: 1;
}