.project__title {
    margin: 1.5rem 0 .5rem 0;

    font-size: 1rem;
    font-weight: 600;
}

.project__description {
    font-size: .875rem;
}

.project__completion {
    font-weight: 600;
    text-transform: uppercase;
    color: $secondary-color-06;
}

.project__form {
    max-width: 550px;
}

