.project__title {
    margin: .3rem 0;

    font-size: 1.250rem;
    font-weight: 600;
}

.project__completion {
    font-weight: 600;
    text-transform: uppercase;
    color: $secondary-color-06;
}

.project__form {
    
}

