.course {
    padding-top: 80px;
}

.course__title {
    margin: 1.2rem 0 .3rem 0;

    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.2;
}

.course__professor {
    font-size: 1.25rem;
    color: $grey-3;
}

.course__compositor {
    font-size: 1.5rem;
}

.course__video {
    width: 100%;
    max-width: 900px;

    margin: 2rem 0;
}

.course__chapters {
    
}

.course__description {
    max-width: 900px;

    margin-bottom: 2rem;
}