.message-box {
    max-width: 500px;
    
    padding: 0.625rem 1rem;

    z-index: 99;
    
    position: fixed;
    top: 50px;
    left: 50%;

    display: flex;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    color: white;

    border: $secondary-color-10 3px solid;
    background-color: $secondary-color-07;
    
    transform: translateX(-50%);
}

.message-box__icon {
    width: 25px;
}