.input {
    width: 100%;
    position: relative;

    input {
        width: 100%;

        padding: 1rem;
        margin-bottom: 40px;

        display: block;
        background-color: $grey-1;

        border: none;
        border-radius: 8px;

        box-sizing: border-box;
    }

    label {
        position: absolute;
        top: 50%;
        left: 1rem;

        font-size: 0.875rem;

        transform: translateY(-50%);
        transition: transform .2s ease-out, top .2s ease-out, left .2s ease-out;
    }

    &--focused {
        label {
            top: -8px;
            left: 0;
            
            transform: translateY(-100%);
        }
    }
}