.process {
    margin-top: 1rem;
}

.process__steps {
    width: 100%;
    height: 30px;
    
    display: flex;
    gap: 10px;
}

.step {
    height: 100%;

    display: flex;
    align-items: center;
    gap: 10px;
    color: $primary-color-08;

    &--current {
        .step__name {
            color: $secondary-color-06;
        }

        .step__arrow {
            path {
                fill: $secondary-color-06;
            }
        }
    }
}

.step__name {
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
}

.step__arrow {
    height: 50%;

    path {
        fill: $primary-color-08;
    }
}