$grey-1: #F2F2F2;
$grey-2: #D5D5D5;
$grey-3: #727272;
$grey-4: #464646;

$primary-color-04: #7784CF;
$primary-color-05: #5969C5;
$primary-color-06: #4051B5;
$primary-color-07: #354497;
$primary-color-08: #2a3679;
$primary-color-09: #20295a;
$primary-color-10: #161C3D;

$secondary-color-10: #bb29bb;
$secondary-color-09: #D336D3;
$secondary-color-08: #D747D7;
$secondary-color-07: #DA58DA;
$secondary-color-06: #DE68DE;
$secondary-color-05: #E279E2;
$secondary-color-04: #E58AE5;

$side-padding: 1.563rem;
$max-width: 1290px;
$margin-size: calc((100vw - $max-width) / 2);