.home {
    h1 {
        max-width: 550px;

        position: absolute;
        bottom: 50px;
        left: 75px;

        font-size: 3rem;
        font-weight: 700;
        color: #fff;

        text-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
    }

    h2 {
        margin-top: 3.125rem;

        font-size: 2rem;
        font-weight: 600;
    }
}

.home__header {
    max-width: $max-width;

    margin: auto;
    padding: 0 $side-padding 0;

    position: relative;
}

.home__hero {

}